body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background: #21c09b;
}

.header {
  align-items: center;
  background: #ab88ff;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}
.notfound {
  background: linear-gradient(#ab88ff, #21c09b);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
  }
}
.hinge {
  margin: 20px;
  animation-name: hinge;
}
.notfound--title {
  font-size: 10rem;
  margin-bottom: 0px;
}
.notfound--description {
  font-size: 1.3rem;
}
